html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.bg-container-account {
    height: 100%;
    width: 100%;
    background-image: url("../assets/account-background.jpg");
    background-size: cover;
}

.bg-container-homepage {
    height: 100%;
    width: 100%;
    background-image: url("../assets/homepage-background.jpg");
    background-size: cover;
}

.bg-container-forum {
    height: 100%;
    width: 100%;
}

.title-banner {
    opacity: 0.80;
}

.title-container {
    padding: 5px;
}

li {
    padding-right: 10px;
}

#user-text {
    align-self: center;
    
}

.parent-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.child-container1 {
    width: 400px;
    height: 300px;
    opacity: 0.9;
    background-color: white;
    border: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 10px;
}

.child-container2 {
    width: 500px;
    height: 500px;
    opacity: 0.9;
    background-color: white;
    overflow-y: auto;
    border-style: solid;
    border: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 10px;
}

.child-container3 {
    width: 500px;
    height: 500px;
    opacity: 0.9;
    background-color: white;
    overflow-y: auto;
    border: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 10px;
}

.list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.workout-container {
    display: flex;
    flex-direction: row;
    background-color: rgb(31, 122, 201);
    justify-content: center;
    align-items: center;
}

.div-child {
    width: 95%;
    min-height: 100px;
    border: 20px;
    border-color: rgb(153, 22, 22);
    border-radius: 5px;
    background-color: hsl(0, 11%, 66%);
    margin: 5px;
}

.child-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.child-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px; 
}

.forums-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;
    flex-wrap: wrap;
}

.forum-object {
    padding: 10px;
    border: 20px;
    border-radius: 5px;
    width: 300px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.forum-header {
    display: flex;
    flex: 1/8;
    border: 2px;
    border-color: black;
    margin: 2px;
    border-style: solid;
    padding: 5px;
    font-size: larger;
}

.forum-description {
    display: flex;
    flex: 7/8;
    border: 2px;
    border-color: black;
    margin: 2px;
    border-style: solid;
    padding: 5px;
}

