html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.bg-container {
    height: 100%;
    width: 100%;
    background-image: url("../assets/account-background.jpg");
    background-size: cover;
}

.title-container {
    padding: 5px;

}

.parent-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.child-container1 {
    width: 400px;
    height: 300px;
    opacity: 0.9;
    background-color: white;
    border: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 10px;
}

.child-container2 {
    width: 500px;
    height: 500px;
    opacity: 0.9;
    background-color: white;
    overflow-y: auto;
    border-style: solid;
    border: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 10px;
}

.child-container3 {
    width: 500px;
    height: 500px;
    opacity: 0.9;
    background-color: white;
    overflow-y: auto;
    border: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 10px;
}

.list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.workout-container {
    display: flex;
    flex-direction: row;
    background-color: rgb(31, 122, 201);
    justify-content: center;
    align-items: center;
}

.div-child {
    width: 95%;
    min-height: 100px;
    border: 20px;
    border-color: rgb(153, 22, 22);
    border-radius: 5px;
    background-color: hsl(0, 11%, 66%);
    margin: 5px;
}

.child-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.child-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px; 
}
