{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}LifeFitness | Account{% endblock title %}

{% block body_content %}
<div class="bg-container-account">
    <div class="title-container">
        <h2>Welcome back {{user.username}}</h2>
    </div>
    <div class="parent-container">
        <div class="child-container1">
            <h3>Health Stats</h3>
            <p>Current Weight: {{weight}}</p>
            <p>Current Height: {{height}}</p>
            <p>BMI: {{BMI}}</p>
            <p>Weight Goal: {{goal}}</p>
            <a class="button">Edit Profile</a>
            <a class="button" href="createworkoutsession/">Create Workout Session</a>
        </div>
        <div class="child-container2">
            <h3>Currently Scheduled Workouts</h3>
            <div class="list-container">
                {% for session in userWorkoutSessions %}
                    <div class="div-child">
                        <div class="child-header">
                            <p>{{session.name}}</p>
                            <p>{{session.date}}</p>
                        </div>
                        <div class="child-content">
                            {% for workout in session.workoutList.all|slice:":3" %}
                                <p>{{workout.exerciseName.name}}</p>
                            {% endfor %}                                
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="child-container3">
            <h3>Past Workouts</h3>
            <div class="list-container">
               <div class="div-child">
                    <div class="child-header">
                        <p>Arm-day</p>
                        <p>11/23/2000</p>  
                    </div>
                    <div class="child-content">
                        <p>Grips --- Lat pulldowns --- lateral raises</p>
                    </div>
                </div>
                <div class="div-child"></div>
                <div class="div-child"></div>
                <div class="div-child"></div> 
                <div class="div-child"></div> 
                <div class="div-child"></div> 
                <div class="div-child"></div> 
            </div>
        </div>
   </div>
</div>
{% endblock body_content %}
