{% extends 'base.html' %}
{% block title %}LifeFitness | Account{% endblock title %}

{% block body_content %}
    <h2>Welcome back {{user.username}}</h2>
    <div class=userinfo>
        <p>Current Weight: {{weight}}</p>
        <p>Current Height: {{height}}</p>
        <p>BMI: {{BMI}}</p> 
    </div>
    <form class="createexercise" method="post">
        {% csrf_token %}
        <table>
            {{exerciseform.as_table}}
            <tr>
                <td><button class="submit button" type="submit">Submit</button></td>
            </tr>
        </table>
    </form>
    <form class="dateandtimeentry" method="post">
        {% csrf_token %}
        <table>
            <tbody>
                {{workoutform.as_table}}
                <tr>
                    <td><button class="submit button" type="submit">Submit</button></td>
                </tr>
            </tbody>
        </table>
    </form>
    
{% endblock body_content %}
