{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}LifeFitness | Account{% endblock title %}

{% block body_content %}
    <div class="grid-x" >
        <div class="container1 medium-6 large-4">
            <h2>Welcome back {{user.username}}</h2>
            <p>Current Weight: {{weight}}</p>
            <p>Current Height: {{height}}</p>
            <p>BMI: {{BMI}}</p>
            <button class="button">Edit Profile</button> 
        </div>
        <div class="container2 medium-6 large-4">
            
            <p>Current Scheduled Workouts</p>
            <div class="">

            </div>
        </div>
        <div class="container3 medium-6 large-4">
            <p>Past Workouts</p>
            <div class="">

            </div>
        </div>
   </div>
{% endblock body_content %}
