{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}LifeFitness | Create Session{% endblock title %}

{% block body_content %}
    <h2>Create Workout Session</h2>
    <form method="post">
        {% csrf_token %} 
        <table>
            <tbody>
                {% crispy form %}
                <div class="workout-container">
                    <div class="div-child">
                    {% if ID > 0 %}
                        {% for Workout in workoutlist %}
                            <tr>
                                <p>
                                    {{ Workout.exerciseName }}
                                </p>
                                <p>
                                    {{ Workout.repCount }}
                                </p>
                                <p>
                                    {{ Workout.setCount }}
                                </p>
                            </tr>
                        {% endfor %} 
                    {% endif %} 
                    </div>
                    <a class="button success" href="{{ID}}">+</a>
                </div>
                <tr>
                    <td><button value="OK" class="submit button" type="submit">Submit</button></td>
                </tr>
            </tbody>
        </table>       
    </form>
{% endblock body_content %}