{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}LifeFitness | Create page{% endblock title %}

{% block body_content %}
    <h2>Create Workout</h2>
    <form class="dateandtimeentry" method="post">
        {% csrf_token %}
        <table>
            <tbody>
                {% crispy workoutform %}
                <tr>
                    <td><button value="OK" class="submit button" type="submit">Submit</button></td>
                </tr>
            </tbody>
        </table>
    </form>
{% endblock body_content %}

