{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}LifeFitness | Add workout{% endblock title %}

{% block body_content %}
    <h2>Create Workout</h2>
    <form method="post">
        {% csrf_token %}
        <p>{{ID}}</p>
        <table>
            <tbody>
                {% crispy form %}
                <tr>
                    <td><button value="OK" class="submit button" type="submit">Add workout</button></td>
                </tr>
            </tbody>
        </table>
    </form>
{% endblock body_content %}

