{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}LifeFitness | Forums{% endblock title %}

{% block body_content %}
<div class="bg-container-forum">
    <div class="title-container">
        <h2>Forums</h2>
        <h4>Talk and chat with others on making <b>Gains!</b></h4>
    </div>
    <a href="createforum" class="button success">Add Forum</a>
    <div class="forums-container">
        {% for forum in Forums %}
        <a href="posts_page/{{forum.pk}}">
            <div class="forum-object">
                <div class="forum-header">
                    <p>{{forum.forum_title}}</p>
                </div>
                <div class="forum-description">
                    <p>{{forum.description}}</p>
                </div>
            </div>
        </a>
        {% endfor %} 
    </div>
</div>
{% endblock body_content %}