{% extends 'base.html' %}
{% load crispy_django_forms %}

{% block body_content %}
    <h2>Post Workout Report</h2> 
    <h4>Choose workout</h4>
    <form class="postworkoutreport" method="post">
        {% csrf_token %}
        <table>
            <tbody>
                <tr>Come back when complete</tr>
                <tr>
                    <td><button value="OK" class="submit button" type="submit">Submit</button></td>
                </tr>
            </tbody>
        </table>
    </form>
{% endblock body_content %}