<!--Django Filters: https://docs.djangoproject.com/en/4.0/ref/templates/language/ -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/foundation.css" %}">
    <link rel="stylesheet" href="{% static "css/app.css" %}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block body_content %}{% endblock body_content %}
    
    {% block scripts %}{% endblock scripts %}
</body>
</html>