<!--Django Filters: https://docs.djangoproject.com/en/4.0/ref/templates/language/ -->
<!--Django Template Inheritance: https://consideratecode.com/2018/04/17/django-template-inheritance/-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}" />
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'assets/fitness-icon.ico' %}" />

    <title>{% block title %}LifeFitness{% endblock %}</title>
</head>
<body>
    {% block navigation_bar %}
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text">LifeFitness</li>
                <li><a href="/">Home</a></li>
                <li><a href="/account">Account</a></li>
                <li><a href="/Forum">Forum</a></li>
                <li><a href="/about-us">About Us</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                {% if user.is_authenticated %}
                    <li>Welcome back {{ user.username }}</li>
                    <li><a class="alert button" href="/logout">logout</a></li>
                    <li><a class="button" href="/signup">Sign up</a></li>
                {% else %}
                    <li><a class="success button" href="/login">Login</a></li>
                    <li><a class="button" href="/signup">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endblock navigation_bar %}

    {% block body_content %}
    <div class="callout large primary">
        <div class="row column text-center">
            <h1>LifeFitness</h1>
            <h2 class="subheader">Easy to use Fitness Tracker!</h2>
        </div>
    </div>
    {% endblock body_content %}

    
    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src={% static 'js/app.js' %}></script>
    {% endblock scripts %}
</body>
</html>